body{
    margin: 0px;
    padding: 0px;
    
}
li{
    margin-left:40px ;
    font-size: 20px;
}
.backgroundimg{
    background-image: url(wall-art-7822529_1280.jpg);
    height:85vh;
    width: 100%;
    border: 1px solid black;
;
}
