body{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}
/* banner works starts here */
.bannerr{
    background-image: url(wall-art-7822529_1280.jpg);
    background-size: cover;
    background-repeat: none;
    width: 100%;
    height: 75vh;
    display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.buy_now{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    cursor: pointer;
    height: 40px;
    width: 150px;
    border: 1px solid grey;
    border-radius: 15px;
    color: #000;
    background-color: rgba(255, 196, 124, 0.962);
}
.buy_now:hover{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    cursor: pointer;
    height: 40px;
    width: 160px;
    border: 1px solid grey;
    border-radius: 20px;
    color: #000;
    background-color: rgb(252, 201, 157);
    transition: 0.5s;
}

.textt{
    color: #f0f0f0;
   text-shadow: 10px 10px 10px  black;
}
li{
    margin-left:40px ;
    font-size: 20px;
}
/* .backgroundimg{
    background-image: url(wall-art-7822529_1280.jpg);
    height:85vh;
    width: 100%;
    
;
} */
ul li a:hover{
    transition: 0.5s;
    border-radius: 20px;
    background-color: rgba(255, 196, 124, 0.877);
}
.cart{
    padding-left: 30px;
    font-size: 20px;
    width: 60px;
}
.boxe {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid black; */
    height: 20vh;
}

.box {
    box-shadow: 10px 10px 5px grey;
    text-align: center;
    width: 14vw;
    height: 80%;
    /* border: 3px solid green; */

}

.box img {
    height: 80%;
    width: 80%;
}

.feature {
    margin-top: 40px;
    text-align: center;
}

.feature p {
    color: #615f5f;
    font-weight: bold;
}

.feature h1 {
    font-size: 60px;
    letter-spacing: 5px;
}









/* cards work start here */
.card_head{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 237px;
    /* border: 1px solid #000000; */
}


.maincard{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
   
}
.cardinside{
    margin-left: 10px;
    width: 33%;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
   

}
.cardtext{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
margin-top: 8px;
padding: 0%;
    /* border: 1px solid #000000; */
}
.card
hr{
    margin: 0%;
    padding: 0%;
}
.cardamount{
    margin-top: 10px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
}
.card_img img{
    border-radius: 9px;
    display: inline-block;
    margin:auto 25px;
    height:65vh ;
    width: 90%
    ;
}
.ratings {
    font-size: 30px;
    text-align: center;
    height: 5vh;
    margin: 2px;
    /* border: 1px solid red; */
    padding-top: 0px;
    padding-left: 35px;
    color: goldenrod;
}
.cardend{
    width: 100%;
    height: 100%;
    display: flex;
    
    /* border: 1px solid #000; */
    
}
.buy{
/* margin-top: 20px; */
margin-left: 20px;
width: 70%;
/* border: 1px solid #000; */
height: 80%;
}
.buy a{
    text-decoration: none;
    color: peru;
}
.buy_btn{
    background-color: rgba(255, 218, 185, 0.846);
    border-radius: 8px;
    width: 80px;
    height: 40px;
    font-size: 30px;
    
}
.buy_btn:hover{
width:75px ;
height: 37px ;
font-size: 10px;
transition: 0.3s;
}
.buy a:hover{
    transition: 0.5s;
    color: #000;
    /* font-size: 30px; */
}
.seemore{
    width: 30%;
    /* margin-top: 20px; */
    margin-left: 20px;

    /* border: 1px solid #000; */
    height: 80%;
}
.seemore a{
    color: peru;
    text-decoration: none;
}

.seemore a:hover{
    transition: 0.5s;
    color: #000;
    font-size: 30px;
}

/* .loader_main {
    width: 100%;
    text-align: center;
    margin-top: 140px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #414744;
    border-right: 16px solid #f26522;
    border-bottom: 16px solid #414744;
    border-left: 16px solid #f26522;
    width: 120px;
    height: 120px;
    

    animation: spin 6s linear infinite;
    margin: 0 auto;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */
 


.gallery_mcard{
    border-radius: 40px;
    border: 1px solid black;
    height: 60vh;
    width: 90%;
    margin-left: 84px;
    
}
.gallery_inner{
    display: flex;
    /* justify-content: center; */
    /* padding-left: 40px; */
    /* border: 1px solid black; */
    height: 50%;
    width: 100%;
    border-radius: 40px;
}
.innerone{
    border-radius: 40px;
    /* margin-left: 10px; */
    border: 1px solid black;
    width: 23vw;
    height: 100%;
}
.innertwo{
    margin-left: 10px;
    border-radius: 20px;
    width: 30vw;
    height: 100%;
    border: 1px solid black;
    
}
.innerthree{
    border-radius: 10px;
    margin-left: 10px;
    width: 30vw;
    border: 1px solid black;
    height: 100%;
    
}
.innerfour{
    border-radius: 40px;
    
    margin-left: 10px;
    width: 23vw;
    border: 1px solid black;
    height: 100%;

}
.gallery_button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
